body {
  font-family: system-ui, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img {
  max-width: 100%;
  height: auto;
  font-style: italic;
}
