/* Layout */
.wrapper {
  width: min(100% - 2rem, var(--wrapper-max-width, 27.5rem));
  margin-inline: auto;
}

@media (min-width: 30rem) {
  .wrapper {
    --wrapper-max-width: 27.5rem;
  }
}

@media (min-width: 48rem) {
  .wrapper {
    --wrapper-max-width: 45.5rem;
  }
}

@media (min-width: 75rem) {
  .wrapper {
    --wrapper-max-width: 72.5rem;
  }
}

/* Typography */
.text-display-large {
  font-size: 4rem;
  line-height: 1.5;
}

.text-display-medium {
  font-size: 3rem;
  line-height: 1.5;
}

.text-display-small {
  font-size: 2.25rem;
  line-height: 1.5;
}

.text-headline-large {
  font-size: 2rem;
  line-height: 1.5;
}

.text-headline-medium {
  font-size: 1.75rem;
  line-height: 1.5;
}

.text-headline-small {
  font-size: 1.5rem;
  line-height: 1.5;
}

.text-body-large {
  font-size: 1rem;
  line-height: 1.5;
}

.text-body-medium {
  font-size: 0.75rem;
  line-height: 1.5;
}

.text-label-large {
  font-size: 0.875rem;
  line-height: 1.5;
}

.text-label-medium {
  font-size: 0.75rem;
  line-height: 1.5;
}

.text-title-large {
  font-size: 1.375rem;
  line-height: 1.5;
}

.text-title-medium {
  font-size: 1rem;
  line-height: 1.5;
}

.text-title-small {
  font-size: 0.875rem;
  line-height: 1.5;
}

/* Other Utilites */
.pile {
  display: grid;
  grid-template-areas: "pile";
  place-items: center;

  > * {
    grid-area: pile;
  }
}

.badge {
  place-self: start end;
  transform: translate(25%, -25%);
}

.auto-grid {
  --min-col-size: 200px;
  --gap-size: 1rem;
  --overflow-prevent: 100%;

  display: grid;
  grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--min-col-size), var(--overflow-prevent)), 1fr)
    );
  gap: var(--gap-size);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  /* shrink to a 1px square */
  width: 1px;
  height: 1px;

  /* hide any resulting overflow */
  overflow: hidden;

  /* ensure proper text announcement by screen readers */
  white-space: nowrap;

  /* clip the element to remove any visual trace */
  clip: rect(0 0 0 0); /* for IE only */
  clip-path: inset(50%);
}

/* 커스텀 체크박스 */
.custom-checkbox {
  --checked-state-bg-color: var(--primary);
  --checked-state-check-color: #fff;
  --outline-color: var(--primary);
  --outline-offset: 2px;

  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  /* remove the checkbox from the page flow, positioning it on top of the SVG */
  position: absolute;
  /* set same dimensions as the SVG */
  width: 1em;
  height: 1em;
  /* hide it */
  opacity: 0;
}

.custom-checkbox svg {
  /* set SVG dimensions in ems; i.e. relative to the font size so that it scales with the size of the font. */
  width: 1em;
  height: 1em;
  margin-top: 0.1em;

  margin-right: 0.5em;

  /* apply a transition to the elements inside the svg */
  * {
    transition: all 0.1s linear;
  }
}

.custom-checkbox input[type="checkbox"]:checked + svg {
  .checkbox__background {
    fill: var(--checked-state-bg-color);
    stroke: var(--checked-state-bg-color);
  }

  .checkbox__checkmark {
    stroke: var(--checked-state-check-color);
  }
}

.custom-checkbox input[type="checkbox"]:focus + svg {
  outline: 3px solid var(--outline-color);
  outline-offset: var(--outline-offset);
}

.custom-checkbox input[type="checkbox"]:focus:not(:focus-visible) + svg {
  outline: none;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 1rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

.skeleton-text:last-child {
  width: 80%;
  margin-bottom: 0;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(from var(--surface-container) h s l / 70%);
  }

  100% {
    background-color: hsl(from var(--surface-container) h s l / 95%);
  }
}
