/* Layout */
.wrapper {
  max-width: 440px;
  margin-inline: auto;
}

/* Typography */
.text-display-large {
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
}

.text-display-medium {
  font-size: 45px;
  line-height: 52px;
}

.text-display-small {
  font-size: 36px;
  line-height: 48px;
}

.text-headline-large {
  font-size: 32px;
  line-height: 40px;
}

.text-headline-medium {
  font-size: 28px;
  line-height: 36px;
}

.text-headline-small {
  font-size: 24px;
  line-height: 32px;
}

.text-body-large {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.text-body-medium {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.text-body-small {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.text-title-large {
  font-size: 22px;
  line-height: 28px;
}

.text-title-medium {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.text-title-small {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

/* Other Utilites */
.pile {
  display: grid;
  grid-template-areas: "pile";
  place-items: center;

  > * {
    grid-area: pile;
  }
}

.badge {
  place-self: start end;
  transform: translate(25%, -25%);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  /* shrink to a 1px square */
  width: 1px;
  height: 1px;

  /* hide any resulting overflow */
  overflow: hidden;

  /* ensure proper text announcement by screen readers */
  white-space: nowrap;

  /* clip the element to remove any visual trace */
  clip: rect(0 0 0 0); /* for IE only */
  clip-path: inset(50%);
}

/* 커스텀 체크박스 */
.custom-checkbox {
  --checked-state-bg-color: var(--primary);
  --checked-state-check-color: #fff;
  --outline-color: var(--primary);
  --outline-offset: 2px;

  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  /* remove the checkbox from the page flow, positioning it on top of the SVG */
  position: absolute;
  /* set same dimensions as the SVG */
  width: 1em;
  height: 1em;
  /* hide it */
  opacity: 0.00001;
}

.custom-checkbox svg {
  /* set SVG dimensions in ems; i.e. relative to the font size so that it scales with the size of the font. */
  width: 1em;
  height: 1em;
  margin-top: 0.1em;

  margin-right: 0.5em;

  /* apply a transition to the elements inside the svg */
  * {
    transition: all 0.1s linear;
  }
}

.custom-checkbox input[type="checkbox"]:checked + svg {
  .checkbox__background {
    fill: var(--checked-state-bg-color);
    stroke: var(--checked-state-bg-color);
  }

  .checkbox__checkmark {
    stroke: var(--checked-state-check-color);
  }
}

.custom-checkbox input[type="checkbox"]:focus + svg {
  outline: 3px solid var(--outline-color);
  outline-offset: var(--outline-offset);
}

.custom-checkbox input[type="checkbox"]:focus:not(:focus-visible) + svg {
  outline: none;
}
