:root {
  --primary: rgb(33 39 92);
  --surface-tint: rgb(84 90 146);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(63 68 123);
  --on-primary-container: rgb(255 255 255);
  --secondary: rgb(41 43 61);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(70 72 92);
  --on-secondary-container: rgb(255 255 255);
  --tertiary: rgb(65 34 55);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(97 62 85);
  --on-tertiary-container: rgb(255 255 255);
  --error: rgb(96 0 4);
  --on-error: rgb(255 255 255);
  --error-container: rgb(152 0 10);
  --on-error-container: rgb(255 255 255);
  --background: rgb(251 248 255);
  --on-background: rgb(27 27 33);
  --surface: rgb(251 248 255);
  --on-surface: rgb(0 0 0);
  --surface-variant: rgb(227 225 236);
  --on-surface-variant: rgb(0 0 0);
  --outline: rgb(43 43 52);
  --outline-variant: rgb(73 72 81);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(48 48 54);
  --inverse-on-surface: rgb(255 255 255);
  --inverse-primary: rgb(189 194 255);
  --primary-fixed: rgb(63 68 123);
  --on-primary-fixed: rgb(255 255 255);
  --primary-fixed-dim: rgb(40 45 99);
  --on-primary-fixed-variant: rgb(255 255 255);
  --secondary-fixed: rgb(70 72 92);
  --on-secondary-fixed: rgb(255 255 255);
  --secondary-fixed-dim: rgb(48 49 68);
  --on-secondary-fixed-variant: rgb(255 255 255);
  --tertiary-fixed: rgb(97 62 85);
  --on-tertiary-fixed: rgb(255 255 255);
  --tertiary-fixed-dim: rgb(72 40 62);
  --on-tertiary-fixed-variant: rgb(255 255 255);
  --surface-dim: rgb(186 184 191);
  --surface-bright: rgb(251 248 255);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(242 239 247);
  --surface-container: rgb(228 225 233);
  --surface-container-high: rgb(214 211 219);
  --surface-container-highest: rgb(200 197 205);

  &:has(#theme option[value="dark"]:checked) {
    --primary: rgb(240 238 255);
    --surface-tint: rgb(189 194 255);
    --on-primary: rgb(0 0 0);
    --primary-container: rgb(185 190 253);
    --on-primary-container: rgb(0 2 58);
    --secondary: rgb(240 238 255);
    --on-secondary: rgb(0 0 0);
    --secondary-container: rgb(193 193 217);
    --on-secondary-container: rgb(8 10 27);
    --tertiary: rgb(255 235 244);
    --on-tertiary: rgb(0 0 0);
    --tertiary-container: rgb(227 182 209);
    --on-tertiary-container: rgb(27 3 21);
    --error: rgb(255 236 233);
    --on-error: rgb(0 0 0);
    --error-container: rgb(255 174 164);
    --on-error-container: rgb(34 0 1);
    --background: rgb(19 19 24);
    --on-background: rgb(228 225 233);
    --surface: rgb(19 19 24);
    --on-surface: rgb(255 255 255);
    --surface-variant: rgb(70 70 79);
    --on-surface-variant: rgb(255 255 255);
    --outline: rgb(241 238 250);
    --outline-variant: rgb(195 193 204);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(228 225 233);
    --inverse-on-surface: rgb(0 0 0);
    --inverse-primary: rgb(62 67 122);
    --primary-fixed: rgb(224 224 255);
    --on-primary-fixed: rgb(0 0 0);
    --primary-fixed-dim: rgb(189 194 255);
    --on-primary-fixed-variant: rgb(4 7 65);
    --secondary-fixed: rgb(225 224 249);
    --on-secondary-fixed: rgb(0 0 0);
    --secondary-fixed-dim: rgb(197 196 221);
    --on-secondary-fixed-variant: rgb(14 16 33);
    --tertiary-fixed: rgb(255 215 238);
    --on-tertiary-fixed: rgb(0 0 0);
    --tertiary-fixed-dim: rgb(231 185 213);
    --on-tertiary-fixed-variant: rgb(34 7 27);
    --surface-dim: rgb(19 19 24);
    --surface-bright: rgb(80 79 86);
    --surface-container-lowest: rgb(0 0 0);
    --surface-container-low: rgb(31 31 37);
    --surface-container: rgb(48 48 54);
    --surface-container-high: rgb(59 59 65);
    --surface-container-highest: rgb(71 70 76);
    color-scheme: dark;
  }

  @media (prefers-color-scheme: dark) {
    &:has(#theme option[value="system"]:checked) {
      --primary: rgb(240 238 255);
      --surface-tint: rgb(189 194 255);
      --on-primary: rgb(0 0 0);
      --primary-container: rgb(185 190 253);
      --on-primary-container: rgb(0 2 58);
      --secondary: rgb(240 238 255);
      --on-secondary: rgb(0 0 0);
      --secondary-container: rgb(193 193 217);
      --on-secondary-container: rgb(8 10 27);
      --tertiary: rgb(255 235 244);
      --on-tertiary: rgb(0 0 0);
      --tertiary-container: rgb(227 182 209);
      --on-tertiary-container: rgb(27 3 21);
      --error: rgb(255 236 233);
      --on-error: rgb(0 0 0);
      --error-container: rgb(255 174 164);
      --on-error-container: rgb(34 0 1);
      --background: rgb(19 19 24);
      --on-background: rgb(228 225 233);
      --surface: rgb(19 19 24);
      --on-surface: rgb(255 255 255);
      --surface-variant: rgb(70 70 79);
      --on-surface-variant: rgb(255 255 255);
      --outline: rgb(241 238 250);
      --outline-variant: rgb(195 193 204);
      --shadow: rgb(0 0 0);
      --scrim: rgb(0 0 0);
      --inverse-surface: rgb(228 225 233);
      --inverse-on-surface: rgb(0 0 0);
      --inverse-primary: rgb(62 67 122);
      --primary-fixed: rgb(224 224 255);
      --on-primary-fixed: rgb(0 0 0);
      --primary-fixed-dim: rgb(189 194 255);
      --on-primary-fixed-variant: rgb(4 7 65);
      --secondary-fixed: rgb(225 224 249);
      --on-secondary-fixed: rgb(0 0 0);
      --secondary-fixed-dim: rgb(197 196 221);
      --on-secondary-fixed-variant: rgb(14 16 33);
      --tertiary-fixed: rgb(255 215 238);
      --on-tertiary-fixed: rgb(0 0 0);
      --tertiary-fixed-dim: rgb(231 185 213);
      --on-tertiary-fixed-variant: rgb(34 7 27);
      --surface-dim: rgb(19 19 24);
      --surface-bright: rgb(80 79 86);
      --surface-container-lowest: rgb(0 0 0);
      --surface-container-low: rgb(31 31 37);
      --surface-container: rgb(48 48 54);
      --surface-container-high: rgb(59 59 65);
      --surface-container-highest: rgb(71 70 76);
      color-scheme: dark;
    }
  }
}
