body {
  color: var(--on-background);
  background-color: var(--background);
}

.hero__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__heading h1 {
  text-align: center;
}

@media (min-width: 75rem) {
  .hero {
    padding-block: 28px;
  }
  .hero__wrapper {
    display: flex;
    align-items: center;
  }

  .hero__wrapper > * {
    flex: 1;
  }

  .hero__heading {
    align-items: start;
  }
}

.swiper {
  --swiper-navigation-color: rgb(63 68 123);
  --swiper-pagination-color: rgb(63 68 123);
  --swiper-pagination-bullet-inactive-color: var(--surface-container-higher);
  max-width: 600px;
  aspect-ratio: 1 / 1;
  margin-inline: auto;
}

.swiper img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.info .tabs__container {
  min-height: fit-content;
}

.info [role="tablist"] {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  list-style: none;
}

.info .tab__buttons {
  color: var(--primary);
  text-underline-offset: 0.5em;
}

.info [aria-selected="true"] {
  color: var(--accent-foreground);
  text-decoration-thickness: 0.25em;
  text-underline-offset: 0.5em;
}

.info .tabs__container {
  padding: 2.5rem;
  background: var(--surface-container-highest);
  border-radius: 0.5rem;
}

.info details {
  padding: 0.5rem 1rem;
  margin-block: 0.5rem;
  border: 1px solid var(--outline);
  border-radius: 0.25rem;
}

.info details > p {
  padding-block: 0.5rem;
}

.main__notice__container {
  display: flex;
  justify-content: space-between;
}

.main__featured .auto-grid {
  --min-col-size: calc(67.5rem / 6);
  --overflow-prevent: calc((100% - var(--gap-size)) / 2);
}

.main_featured-card img {
  aspect-ratio: 1 / 1;
}

.main__brand .wrapper {
  position: relative;
  padding: 28px;
}

.main__brand img {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.main__review .auto-grid {
  --min-col-size: calc(42.5rem / 3);
}

.main__review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: var(--on-surface);
  background-color: var(--surface-container);
  border-radius: 1rem;
}

.main__review-card img {
  width: 30%;
  background-color: var(--background);
  border-radius: 50%;
}
