.hero__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__swiper {
  width: 600px;
  height: 300px;
}

.info [role="tablist"] {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.info .tab__buttons {
  color: var(--primary);
  text-underline-offset: 0.5em;
}

.info [aria-selected="true"] {
  color: var(--accent-foreground);
  text-decoration-thickness: 0.25em;
  text-underline-offset: 0.5em;
}

.info .tabs__container {
  padding: 2.5rem;
  background: var(--muted);
  border-radius: 0.5rem;
}
