.site__header {
  border-bottom: 1px solid var(--primary);
}

.site__nav {
  display: flex;
  align-items: center;
  gap: 18px;
}

.site__nav__togle,
.site__nav__close {
  all: unset;
}

.site__nav__logo {
  color: var(--primary);
  text-decoration: none;
}

.site__nav__actions {
  display: flex;
  gap: 18px;
  margin-left: auto;
  list-style: none;
}

.site__nav__actions a {
  color: var(--primary);
}

.site__nav__togle ~ .site__nav__content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 10;
  transition:
    transform 0.6s ease-out,
    box-shadow 0.6s ease-out;
  box-shadow: 0 0 0 150vmax rgba(0, 0, 0, 0);
  background-color: var(--background);
  width: 75vw;
  max-width: 400px;
  overflow-y: auto;
}

.site__nav__togle[aria-expanded="true"] ~ .site__nav__content {
  transform: translateX(0);
  box-shadow: 0 0 0 150vmax rgba(0, 0, 0, 0.75);
}
